ZORA_API_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_REPO_URL=https://github.com/fraser-stanley/attention-zip
NEXT_PUBLIC_SITE_REPO_REF=main
STAGING_PASSWORD=
ALLOW_MOCK_MARKET_DATA=false
